
<!DOCTYPE html>
<html>
	<head>
		<title>Control de medicamentos </title>
	</head>
	<body>
		<header>
			<h1 class="titulo">
				Control de medicamentos
			</h1>
			<div>
				<ul>
					<li><a href="/antiviral">antiviral</li>
					<li><a href="/anestésico">anestésico</a></li>
					<li><a href="/analgésico">analgésico</a></li>
					<li><a href="/anitalergico">anitalergico</a></li>
				</ul>
			</div>
		</header>
	</body>
</html>
